<ion-view class="walkthrough-view forgot-password-view auth-view" cache-view="false">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{config.logoWhite}}" class="homelogo">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="forgot-password-container">
                            <form name="login_form" class="" ng-submit="doForgot(user.email,config.title)" novalidate ng-cloak>
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                                    </label>
                                </div>
                            </form>
                            <div>
                            <button class="login button button-clear button-light button-block" ng-click="doForgot(user.email,config.title)">Request Code</button>
                        </div>
                            <div>
                                 <div class="alert danger">
                                     {{result}}
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alternative-actions">
                    <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.reset-password">Already have a Code?</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
