<ion-view class="walkthrough-view forgot-password-view auth-view" cache-view="false">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{config.logoWhite}}" class="homelogo">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="forgot-password-container">
                            <form name="login_form" class="" ng-submit="resetPassord(user)" novalidate ng-cloak>
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="text" placeholder="Email" name="user_email" ng-model="user.userName" required autocomplete="off">
                                    </label>
                                    <label class="item item-input">
                                        <input type="text" placeholder="Code" name="user_code" ng-model="user.key" required autocomplete="off">
                                    </label>
                                    <label class="item item-input">
                                        <input type="password" placeholder="New Password" name="user_password" ng-model="user.password" required autocomplete="off">
                                    </label>
                                    <label class="item item-input">
                                        <input type="password" placeholder="Confirm Password" name="user_cpassword" ng-model="user.confirmpassword" required autocomplete="off">
                                    </label>
                                </div>
                            </form>
                            <p ng-if="!errors.length">Check your email for password reset code.</p>
                            <div ng-if="!success">
                                <button class="login button button-clear button-light button-block" ng-click="resetPassord(user)">Reset Password</button>
                            </div>
                            <ul class="ul-unstyled" ng-if="errors">
                                <li class="alert danger" ng-repeat="err in errors">{{err}}</li>
                            </ul>
                            <div ng-if="success">
                                <a class="signup  button button-block"" ui-sref="auth.login">Login Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
