<ion-view class="home-tab-view">
    <ion-tabs class="tabs-top tabs-striped tabs-light tabs-color-assertive tabs-icon-top">
        <ion-tab title="Home" icon="icon icon-house-outline" ui-sref="app.home.playlist.featured({id:config.featured})"><ion-nav-view name="featured-tab"></ion-nav-view></ion-tab>
        <ion-tab title="Trending" icon="icon icon-rising" ui-sref="app.home.playlist.trending"><ion-nav-view name="trending-tab"></ion-nav-view></ion-tab>
        <ion-tab title="Categories" icon="icon icon-categories" ui-sref="app.home.playlist.categories"><ion-nav-view name="categories-tab"></ion-nav-view></ion-tab>
        <ion-tab title="My Channel" icon="icon icon-television" ui-sref="app.home.playlist.my"><ion-nav-view name="my-tab"></ion-nav-view></ion-tab>
    </ion-tabs>
</ion-view>


