

<div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
        Cancel
    </button>
</div>

<ion-list>

    <i class=""><img ng-src="history.png">Tacos al Paster</i>
    <i class=""><img ng-src="history.png">Top paying careers for Latinas</i>
    <i class=""><img ng-src="history.png">Pero Like</i>

</ion-list>

